body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f57c00;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #ffccbc;
    padding: 10px 0;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: #f57c00;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

a:hover {
    color: #bf360c;
}
