.piano {
    display: flex;
    justify-content: center;
}
.key-container {
    position:relative;
    display: inline-block;
}
.key {
    cursor: pointer;
    display: inline-block;
    border-spacing: 0px;
    border: thin solid #000;
    margin: 0px;
    border-collapse: collapse;
}

.white {
    width: 40px;
    height: 200px;
    background-color: white;
    position: relative;
    z-index: 0
}

.black {
    width: 30px;
    height: 120px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 25px;
    z-index: 1;
}

.pianoCompleto{
    display: flex;
}

.octava{
    display: inline-flex;
}