.piano {
    display: flex;
    justify-content: center;
    padding-left: 240px;
}

.key {
    cursor: pointer;
    height: 160px;
    border-spacing: 0px;
    border: thin solid #000;
    margin: 0px;
    border-collapse: collapse;
}

.white {
    background-color: white;
    width: 60px;
    padding: 0px;
    margin: 0px;
    position: relative;
    display: inline-block;
}

.black {
    background-color: black;
    width: 40px;
    position: relative;
    left: -20px;
    z-index: 1;
    height: 80px;
    color:white;
}
