body {
    font-family: Arial, sans-serif;
    background-color: #63a181; /* Un verde suave */
    margin: 0;
    padding: 0;
}

header {
    background-color: darkblue; /* Un verde más oscuro */
    color: white;
    text-align: center;
    padding: 20px 0; 
}

nav ul {
    list-style-type: none;
    padding: 0;
    background-color: #869588; /* Un verde medio */
    text-align: center;
    margin: 0;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    display: inline-block;
}

nav a:hover {
    background-color: #63a181; /* Un verde más oscuro para el hover */
}
